{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th class = "text-start">Symbol</th>
                <th class = "text-end">Shares</th>
                <th class = "text-end">Price</th>
                <th class = "text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for i in transactions %}
                <tr>
                    <td class="text-start">{{i["symbol"]}}</td>
                    <td class="text-end">{{i["shares"]}}</td>
                    <td class="text-end">{{i["price"] | usd}}</td>
                    <td class="text-end">{{i["time_of_transact"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
